name: Mirror Mindustry Itch Builds

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/*.yml'

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up environment
        run: |
          sudo apt-get update
          sudo apt-get install -y curl
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Download files from itch.io
        run: |
          mkdir -p builds
          ~/.local/bin/uvx itch-dl https://anuke.itch.io/mindustry \
            --api-key "${{ secrets.ITCH_API_KEY }}" \
            --download-to builds
            
      - name: check downloaded files
        run: |
             ls -R builds
             cp -r builds /tmp/builds

      - name: Prepare mirror branch
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

          git fetch origin tag itch-mirror --depth=1 || true
          git checkout --orphan temp-mirror

          git clean -fdx
          git reset --hard
          cp -r /tmp/builds .

          if [ -d "builds/anuke/mindustry/files" ] && [ "$(ls -A builds/anuke/mindustry/files)" ]; then
            find builds/anuke/mindustry/files -type f -exec cp "{}" ./ \;
          else
            echo "âŒ No files to copy"
            exit 1
          fi

          echo "This is a mirror of Mindustry builds from Itch.io" > README.md



      - name: Commit and push to tag
        run: |
          git add .
          git commit -m "Mirror update: $(date -u)"
          git tag -f itch-mirror
          git push origin --force tag itch-mirror
